.wrapper {
  max-width: 100%;
  width: 500px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.181);
  border: 1px solid #cccccc82;
  border-radius: 10px;
  margin: auto; 
  margin-top: 50%;
  backdrop-filter: blur(7px);
}

h3 {
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.inputWrapper {
  margin-bottom: 10px;
  width: 100%;
}

.inputWrapperRow {
  display: flex;
  gap: 20px;
  width: 100%;
}

.inputItem {
  flex: 1;
}

.fullWidth {
  width: 100%;
}

label {
  color: rgba(222, 222, 222, 0.856);
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccce5;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 40px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

legend {
  margin-bottom: 5px;
  text-align: left;
}

.radioGroup {
  display: flex;
  gap: 20px;
}

.radioGroup label {
  display: flex;
  align-items: center;
}

.radioGroup input {
  margin-right: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .inputWrapperRow {
    flex-direction: column;
  }

  .inputItem {
    width: 100%; /* Stack inputs in mobile view */
  }

  .wrapper {
    width: 90%; /* Reduce width for smaller screens */
     margin: auto; 
  margin-top: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 600px;
      margin: auto; 
  margin-top: 50%;
  }
}