
.navigation {
margin-left: 5vw;
margin-right:5vw;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align logo on left and icons on right */
  padding: 10px /* 10px padding on both left and right */
}

.logotype {
  width: 100px;
}

.navbar {
  text-align: center;
  flex-grow: 1; /* Allow the navbar to take up space between logo and icons */
}

.navLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center; /* Center the links */
}

.navLinks li {
  margin: 0 20px; 
}

.icons {
  padding: 0 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.userIcon,
.cartIcon,
.burgerIcon{
  font-size: 24px;
  margin-left: 15px;
}

.burgerIcon {
  display: none;
}

.cartIcon {
  cursor: pointer;
  position: relative;
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(47, 249, 84);
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  font-size: 10px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navLinks {
    display: none; /* Hide links in mobile view */
  }

  .burgerIcon {
    display: block;
  }

  .dropdownMenu {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: beige;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
  }

  .dropdownLinks {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdownLinks li {
    margin: 10px 0;
  }
}

@media (min-width: 1024px) {
  .navbar {
    margin-left: 0;
    margin-right: 0;
  }
}


