video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire area */
  position: absolute; /* Makes the video cover the .rolik div */
  top: 0;
  left: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.477); /* Semi-transparent black overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; /* Ensures the overlay is above the video */
  display: flex;
  justify-content: flex-start; /* Align content to the right */
  align-items: center; /* Centers content vertically */
  color: white; /* Text color for overlay content */
  padding: 20px; /* Add some padding */
  box-sizing: border-box;
}
