
:root {
    --color-style: #0e094bdd;
    --color-mission: beige;
    --color-materials: #00402b;
    --color-service: #000000;
    --color-customers: #400b42;
}

.ordnung {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

section {
    flex: 1 1 33.33%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.miaLogo {
    position: absolute;
    right: 50%;
    top: 50%;
}

section p {
    line-height: 1.5;
    font-size: large;
    font-weight: 100;
    font-style: italic;
    color:#000000;
}

.textContainer {
    color:#000000;
    padding: 40px;
    height: 100%; /* Ensure the text block takes the full height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.miaLogoContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.miaLogoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

.miaLogoContainer .miaLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 65%);
    height: auto;
    cursor: pointer;
}
.fullWidthImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.sectionStyle {
    background-color: var(--color-style);
}

.sectionMission {
    background-color: var(--color-mission);
}

.sectionMaterials {
    background-color: var(--color-materials);
}

.sectionService {
    background-color: var(--color-service);
}

.sectionService >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionCustomers >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionContest >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionMaterials >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionStyle >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionService >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionService >.textContainer>p{
    color: beige;
    line-height: 1.5;
}

.sectionService >.textContainer>h1{
    color: beige;
}

.sectionCustomers >.textContainer>h1{
    color: rgba(245, 245, 220, 0.824);

}.sectionMaterials >.textContainer>h1{
    color: beige;
}

.sectionStyle >.textContainer>h1{
    color: beige;
}

.sectionCustomers {
    background-color: var(--color-customers);
}


/* Responsive layout for mobile devices */
@media (max-width: 768px) {
    .ordnung {
        flex-direction: column;
    }

    section {
        flex: 1 1 100%;
    }
}