.Blog {
  padding: 20px;
}

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.imageItem {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}

.imageItem img {
  width: 100%;
  height: auto;
  display: block;
}

.imageItem button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}