.fon {
    background-size: cover; /* Cover the entire element while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative;
    height: 100%;
    /* margin-top: -120px; */
    width: 100vw; /* Full viewport width */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: white; /* Ensure text is visible over the background */
    text-align: center;
}

.sloganBlog {
text-align: left;
    z-index: 1;
    padding: 20px;
    position: fixed;
    top: 35vh; /* Position content about a third from the top */
    /* right: 10vw; */
}

/* Button Styling */
.homeButton {
    margin-top: 20px;
    font-family: "Roboto Serif", serif;
    width: 170px;
    height: 50px;
    background-color: rgb(37, 40, 1);
    color: rgb(204, 204, 204);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.homeButton:hover {
    background-color: rgb(11, 4, 4); /* Darker color on hover */
}

/* Typography */
h1 {
    font-size: 54px;
    font-family: "Playfair Display", serif;
    color: rgb(254, 249, 224);
    font-style: italic;
}

h2 {
    color: rgb(254, 249, 224);
    font-size: 26px;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto Serif", serif;
}

/* Mobile Styling */
@media (max-width: 768px) {
  
    .fon {
    background-size: cover; /* Cover the entire element while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative;
    height: 100%;
    width: 100vw; /* Full viewport width */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: white; /* Ensure text is visible over the background */
    text-align: center;
}
  
    .sloganBlog {
        top: 30vh;
        right: 5vw;
        text-align: center; /* Center text in mobile */
    }

    h1 {
        font-size: 30px;
    }
  
    h2 {
        font-size: 20px;
    }
}

/* Tablet Styling */
@media (min-width: 768px) and (max-width: 1024px) {
      .fon {
    background-size: cover; /* Cover the entire element while maintaining aspect ratio */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    position: relative;
    height: 100%;
    width: 100vw; /* Full viewport width */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    color: white; /* Ensure text is visible over the background */
    text-align: center;
}

    h1 {
        font-size: 40px;
    }
  
    h2 {
        font-size: 20px;
    }
}