#root {
  --color-style: #110a71dd;
  --color-mission: #fff3e3;
  --color-materials: #064f37;
  --color-service: #000000;
  --color-customers: #69056e;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  height: 100%; /* Ensures the root element takes the full viewport height */
}

html,
body {
  /* font-family: "Playfair Display", serif; */
  height: 100%; /* Ensures the HTML and body take the full viewport height */
  background-image: url("../src/assets/main.jpeg");
  background-size: cover;
  /* background-position: top; */
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.app-container {
  /* background-size: cover; */
  /* display: flex;  */
  flex-direction: column;
  /* min-height: 100vh; */
}
