
#root {
  --color-style: #110a71dd;
  --color-mission: #fff3e3;
  --color-materials: #064f37;
  --color-service: #000000;
  --color-customers: #69056e;
  display: flex;
  flex-direction: column;

  height: 100%; /* Ensures the root element takes the full viewport height */
}

html,
body {
  height: 100%; 
  background-image: url("https://res.cloudinary.com/dwenvtwyx/image/upload/v1729599028/MATTEO9_evbaep.webp");
  background-size: cover;
  /* background-position: top; */
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

.app-container {
  /* background-size: cover; */
  /* display: flex;  */
  flex-direction: column;
  /* min-height: 100vh; */
}
